* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px;
}

.forms, .events-display {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-width: 350px;
    height: 100vh;
    border: 1px solid red;
}

.events-display {
    width: 100%;
}

#add-event-form {
    width: 300px;
}

#search-event-form {
    width: 300px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 5px;
}

label > input {
    width: 50%;
    font-size: 1rem;
}

form button {
    font-size: 1rem;
    height: 2rem;
    width: 5rem;
    margin: 5px;
    align-self: center;
}

.hidden {
    display: none;
}

.eventbox {
    border: 1px solid black;
    width: 90%;
    margin: 10px;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
}