* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #eff9f8;
}
form {
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    width: 100vw;
    padding: 1rem;
    margin: 1.3rem;
    background-color: #00cbff;
}
.heading {
    text-align: center;
    margin: 0 0 1rem 0;
    padding-top: 1.5rem;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    min-width: 25rem;
    border-right: 3px solid grey;
}

.search-event {
    margin-top: 15px;
}

.events-display {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.add-event-container {
    display: flex;
    justify-content: center;
}

.arrow {
    margin-left: 1rem;
}
.events-display {
    width: 100%;
}

#add-event-form {
    width: 90%;
}

#search-event-form {
    width: 90%;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 0.3rem;
}

label > input {
    width: 50%;
    font-size: 1rem;
}

form button {
    font-size: 1rem;
    height: 2rem;
    width: 5rem;
    margin: 0.3rem;
    align-self: center;
}

.hidden {
    display: none;
}

.eventbox {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 2rem;
    width: 90%;
    margin: 1rem;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.eventbox {
    padding: 1rem;
    min-width: 65%;
    background-color: #a8e0dc;
    color: #fff;
}
a {
    display: block;
}
.error_display {
    margin: 15px auto;
}

form p {
    margin: 0px auto 10px auto;
}

.attend_div {
    display: flex;
}

.attendance {
    display:inline-block;
    margin-right: 0.3rem;
}

@media only screen and (max-width: 650px) {

    .heading {
        text-align: center;
        margin: 1rem;
    }
    .container {
        display: flex;
        justify-content: center;
    }
    .arrow {
        margin-left: 0.5rem;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        border: none;
    }
   .forms, .events-display {
       margin: 0 auto;
       display: block;
       border: none;
    }
    .eventbox {
        padding: 1rem;
        min-width: 65%;
    }
    a {
        display: block;
    }

}