* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    width: 100vw;
    padding: 1rem;
    margin: 1.3rem;
}
.heading {
    text-align: center;
    margin: 0 0 1rem 0;
    padding-top: 1.5rem;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    min-width: 25rem;
    border-right: 1px solid #ECECEC;
}

.search-event {
    margin-top: 15px;
}

.events-display {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.add-event-container {
    display: flex;
    justify-content: center;
}

.arrow {
    margin-left: 1rem;
}
.events-display {
    width: 100%;
}

#add-event-form {
    width: 90%;
}

#search-event-form {
    width: 90%;
    background: #f4f4f4;
}

#add-event-form {
    background: #f4f4f4;
    margin-top: 20px;
}

.search-event {
    align-self: center;
    margin-bottom: 20px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 0.3rem;
}

label > input {
    width: 50%;
    font-size: 1rem;
}

.input-field {
    margin-top: 10px;
}

input {
    padding: 9px;
    border: 1px solid #e4e4e4;
}

form button {
    font-size: 1rem;
    outline: none;
    padding: 16px;
    border-radius: 3px;
    border: 0;
    background: #e74c3c;
    color: white;
    width: 55%;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 100;
    align-self: center;
    letter-spacing: 1px;
    min-height: 2rem;
}

.arrow {
    border: 0;
}

.hidden {
    display: none;
}

.eventbox {
    border-radius: 2px;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #ECECEC;
}

.flex-container {
    display: flex;
    width: 100vw;
}
.eventbox {
    padding: 1rem;
    min-width: 65%;
    color: #fff;
    margin-bottom: 10px;
}
a {
    display: block;
}
.error_display {
    margin: 15px auto;
}

form p {
    margin: 0px auto 10px auto;
}

.attend_div {
    display: flex;
}

.attendance {
    display:inline-block;
    margin-right: 0.3rem;
}

@media only screen and (max-width: 650px) {

    .heading {
        text-align: center;
        margin: 1rem;
    }
    .container {
        display: flex;
        justify-content: center;
    }
    .arrow {
        margin-left: 0.5rem;
    }
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        border: none;
    }
   .forms, .events-display {
       margin: 0 auto;
       display: block;
       border: none;
    }
    .eventbox {
        padding: 1rem;
        min-width: 65%;
    }
    a {
        display: block;
    }

}